{% extends '_partials/dashboard_template.html' %}

{% block title %}History{% endblock %}


{% block content %}
    <a class="btn btn-primary" href="{{ url_for('connected.dashboard') }}">Retourner au tableau de bord</a>

    <h2>Historique des signatures</h2>
    {% for element in signatures %}
        <div class="card">
            <h5 class="card-title">{{ element.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ element.date }}</h6>
            <div class="card-body">
                Le {{ element.date_signature }}{% if element.signataire %}, par {{ element.signataire }}{% endif %}<br>
                <div class="card-body__signature">
                    {% if element.signature_svg == 'ABSENT' %}
                        <p>Déclaré Absent</p>
                    {% else %}
                        <img src="{{ element.signature_svg }}" alt="Signature" height="100px">
                    {% endif %}
                    <a href="{{ url_for('connected.events.del_sign', id=element.signature_id) }}"
                       class="btn btn-secondary">Supprimer la signature</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if signatures|length == 0 %}
        <p>Aucune signature à afficher.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}