{% extends '_partials/dashboard_template.html' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <h1>Tableau de bord</h1>
    <p>Bienvenue sur votre tableau de bord, <br>{{ user.name }} !</p>

    <a class="btn btn-outline-primary" href="{{ url_for('connected.events.history') }}">Historique des signatures</a>

    <h2>A signer</h2>
    {% for element in a_signer %}
        <div class="card">
            <h5 class="card-title">{{ element.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Le {{ element.date }}, de {{ element.start }}
                à {{ element.end }}</h6>
            <div class="card-body">
                {{ get_prof(element.content) }}
            </div>
            <div class="card-actions">
                {% if session['is_admin'] %}
                    <a href="{{ url_for('connected.dashboard') }}" class="btn btn-danger material-symbols-outlined">delete</a>{% endif %}
                <a href="{{ url_for('connected.events.abs', id=element.event_id) }}"
                   class="btn btn-secondary">Absent</a>
                <a href="{{ url_for('connected.events.sign', id=element.event_id) }}" class="btn btn-primary">Signer</a>
            </div>
        </div>
    {% endfor %}
    {% if a_signer|length == 0 %}
        <p>There are no events to sign.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}