{% extends '_partials/dashboard_template.html' %}

{% block title %}Paramètres{% endblock %}

{% block content %}
    <a class="btn btn-primary" href="{{ url_for('connected.dashboard') }}">Retourner au tableau de bord</a>
    <br><br>
    <h1>Generation de feuille d'émargement</h1>
    <form action="./" method="post">
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example08">Jour dans la semaine à editer</label>
            <input type="date" name="date" id="form2Example08"
                   class="form-control" value="" required/>
            </button>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example18">Nom d'utilisateur</label>
            <input type="text" name="username" id="form2Example18"
                   class="form-control" value="{{ session['username'] }}" disabled/>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="export" id="flexRadioDefault1" value="pdf" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Exporter en PDF
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="export" id="flexRadioDefault2" value="html" disabled>
            <label class="form-check-label" for="flexRadioDefault2">
                Visualisation HTML
            </label>
        </div>

        <div class="pt-1 mb-4">
            <button class="btn btn-outline-primary" type="submit">Générer le document</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
{% endblock %}